h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: rgb(223, 19, 19);
}

.header {
    background-color: rgb(146, 200, 201);
    display: flex;
    justify-content: center;
    align-items: center;
}

.base {
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    background-color: rgb(193, 229, 156);
    line-height: 1.3;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(20, 107, 40);
}

.base-first {
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    background-color: rgb(146, 195, 208);
    line-height: 1.3;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(228, 118, 15);

}

#id {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
    background-color: rgb(236, 206, 206);
    width: 600px;
    height: 300px;
    margin: 0 auto;
    justify-content: flex-start;
}

#id img {
    border-radius: 25px;
    border: 2px solid black;
    margin-right: 10px;
    width: 250px;
    height: 254px;
    background-color: rgb(241, 241, 241);
}

#id div {
    border-radius: 25px;
    border: 2px solid black;
    margin-right: 5px;
    margin-left: 10px;
    width: 275px;
    height: 214px;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(241, 241, 241);
    color: rgb(30, 83, 84);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    width: 400px;
    padding: 15px 20px; 
    font-size: 18px; 
    color: rgb(124, 87, 183); 
    border: 2px solid rgb(124, 87, 183);
    border-radius: 5px; 
}

.input-button{
    width: 100px;
    padding: 15px 20px; 
    font-size: 18px; 
    color: rgb(70, 10, 10); 
    border: 2px solid rgb(70, 10, 10);
    border-radius: 5px; 
}

.input-button-first{
    width: 100px;
    padding: 15px 20px; 
    font-size: 18px; 
    color: rgb(228, 118, 15); 
    border: 2px solid rgb(228, 118, 15); 
    border-radius: 5px; 
}

#robo {
    width: 400px;
}